@model DomainLayer.Models.Positions

<h2> Positions</h2>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<table id="myTable2" class="display">
	<thead>
		<tr>
			<th>Position Code</th>
			<th>Position Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var Position in ViewBag.positions)
		{
			<tr>
				<td>@Position.Positionid</td>
				<td>@Position.PositionName</td>
				<td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Delete</a></td>
			</tr>
		}
	</tbody>
</table>

<h2>Add Position:</h2>

<form method="post" action="AddPosition" id="employeeform">
    <div class="mb-3">
        <label asp-for="PositionName" class="form-label">Position Name</label>
        <input type="text" class="form-control" asp-for="PositionName">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

