@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>You can <a href="/Position/AddPosition">add position</a> or <a href="/Combined/AddEmployee">add new employee </a>from here.</h4>
</div>
