@model List<Employee_details_webapp.Models.CombinedViewModel>
@{
}
<a class="btn btn-info" href="AddEmployee">Add new employee</a>
<br />
<br />
<h4> Employees</h4>

<link href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

        <table id="myTable" class="row-border">
            <thead>
                <tr>
					<th>Code</th>
					<th>Full Name</th>
					<th>Email</th>
					<th>Address</th>
					<th>Salary</th>
					<th>Position</th>
					<th>Start Date</th>
					<th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>


@section scripts{


    <script >
        $(document).ready(function () {
         

            $('#myTable').DataTable(
                {
                    ajax: {
                        url: "Combined/AllEmployeesList2",
                        type: "POST", 
                    },
                    processing: true,
                    serverSide: true,
                    filter: true,
                    //Colum setup
                    columns: [
						{ data: "employeeCode", name: "EmployeeCode" },
                        { data: "fullName", name: "FullName" },
                        { data: "email", name: "Email" },
                        { data: "address", name: "Address" },
                        { data: "salary", name: "Salary" },
						{ data: "positionName", name: "PositionName" },
                        { data: "startDate", name: "StartDate" },
                        
                        {
                            "render": function (data, type, row) {
                                return '<a class="btn btn-warning" href="/Combined/EditEmployee/' + row.employeeid + '">Edit</a>';
                            }
                        },
                        {
                            "render": function (data, type, row) {
                                return '<a class="btn btn-info" href="/Combined/EmployeeJobHistoryList/' + row.employeeid + '">History</a>';
                            }
                        },
                        {
                            "render": function (data, type, row) {
                                return '<a class= "btn btn-danger" href="/Combined/DeleteEmployee/' + row.employeeid + '">Delete</a>';
                            }
                        },
                    ],
                }
            );
        });
    </script>
}