@model List<Employee_details_webapp.Models.CombinedViewModel>
@{
}
<h1> Employees</h1>

<link href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="container">
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
					<th>Code</th>
					<th>Full Name</th>
					<th>Email</th>
					<th>Address</th>
					<th>Salary</th>
					<th>Position</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts{

    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script >
        $(document).ready(function () {
            $('#myTable').DataTable(
                {
                    ajax: {
                        url: "Combined/AllEmployeesList2",
                        type: "POST", 
                    },
                    processing: true,
                    serverSide: true,
                    filter: true,

                    //Colum setup
                    columns: [
						{ data: "employeeCode", name: "EmployeeCode" },
                        { data: "fullName", name: "FullName" },
                        { data: "email", name: "Email" },
                        { data: "address", name: "Address" },
                        { data: "salary", name: "Salary" },
						{ data: "positionName", name: "PositionName" },
                        { data: "startDate", name: "StartDate" },
                        { data: "endDate", name: "EndDate" },
                        
                        {
                            "render": function (data, type, row) { 
                                return '<a class="btn btn-info" href="/Combined/EditEmployee/' + row.employeeid + '">Edit</a>'; }
                        },
                        {
                            "render": function (data, type, row) { 
                                return '<a class="btn btn-info" href="/Combined/EmployeeJobHistoryList/' + row.employeeid + '">History</a>'; }
                        },
                    ],
                }
            );
        });
    </script>

    <script>
        function edit(rowContext) {
    if (table) {
        var data = table.row($(rowContext).parents("tr")).data();
        alert("Example showing row edit with id: " + data["id"] + ", name: " + data["name"]);
    }
}
    </script>
}